.product-page {
    width: 100%;
}

.product-img {
    width: 350px;
}

.product-information {
    display: flex;
}

.product-right  {
    width: 350px;
}

.button-group button, input {
    width: 50px;
    border: none;
    outline: none;
    background: none;
    border-radius: 0;
    border-right: 1px solid black;
}

.button-group button:last-child {
    border: 0;
}

.button-group button:hover {
    background: rgb(248, 213, 196);
    transition: 300ms ease;
}

.checkout-item {
    display: flex;
    height: 150px;
    width: 600px;
}

.checout-item img {
    width: 100px;
}

.checkout-list {
    list-style: none;
}

.button-group {
    width: 150px;
    border-radius: 10px;
    border: 1px solid rgb(212, 211, 211);
    display: flex;
    overflow: hidden;
}

